html {
    background-color: rgb(201, 215, 238);
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(127, 34, 34);
}

#title-container {
    border-color: rgb(101, 24, 24);
    border-width: 4px;
    border-style: solid;
    border-radius: 15px;
    background-color: rgb(201, 215, 238);
    width: fit-content;
    height: fit-content;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    order: 0;
}