<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Baby Zillow</title>
	<link rel="stylesheet" href="/css/style.css">
</head>

<body>
	<div class="title-container">
		<h1 id="title">Home Values</h1>
	</div>
	<div id="form-container">
	<br>
    <button> Search History </button>
	<br><br>
    <form action="/processValue" method="post" onsubmit="confirmSubmission(event)">
		<fieldset>
			<br>
			<label>Address* : <input type="text" name="address"/></label><br><br>
			<label>Property Type* : </label>
			<select name="propertyType" id="propertyType">
				<option value="SingleFamily">SingleFamily</option>
				<option value="Condo">Condo</option>
				<option value="MultiFamily">MultiFamily</option>
				<option value="Townhouse">Townhouse</option>
				<option value="Apartment">Apartment</option>
			</select>
			<br><br>
			<label>Number of Beds: <input type="text" id="beds" name="beds"></label><br><br>
			<label>Number of Baths: <input type="number" id="baths" name="baths"></label><br><br>
			<label>Min Sqft: <input type="number" id="sqftMin" name="sqftMin"></label><br><br>
			<label>Max Sqft: <input type="number" id="sqftMax" name="sqftMax"></label>
			<br>
			<p> * fields are required </p>
		</fieldset>
		<br>
		<input type="reset" />
		<input type="submit" value="Submit Application"/>
	</form>
</div>
</body>

</html>