<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Baby Zillow</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div id="title-container">
        <h1>Welcome to Baby Zillow</h1>
        <img src="/css/Home_icon_brown.png" alt="Baby Zillow Icon">
    </div>
	
    <div id="body-container">
        <h2><a href="/checkValue">Check the value of any house!</a></h2>
    </div>

</body>

</html>