<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Baby Zillow</title>
    <link rel="stylesheet" href="css/style.css"/>
</head>

<body>
    <div id="title-container">
        <h1>Welcome to Baby Zillow</h1>
    </div>
	
    <h2><a href="/checkValue">Check the value of any house!</a></h2>

</body>

</html>