<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Search History</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="title-container">
        <h1>Search History</h1>
    </div>
	
    <div id="body-container">
        <%- items %>
    </div>

</body>

</html>