<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Search History</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="title-container">
        <h1>Search History</h1>
    </div>
    <%- table %>

    <div id="button1">
        <form action="/clearSearchHistory" method="post">
            <button id="clear"> Clear Search History </button>
        </form>
    </div>
</body> 

</html>